*{
    margin: 0px;
}
html{
    margin: 0px;
    height: 100vh;
    width: 100%;
}
:root{
   --primary: black;
    --secondary: azure;
    
}
.dark-theme{
    --primary: azure;
    --secondary: black;
}
.nav-wrapper{
    padding-top: 5vh;
    height: 30vh;
    width: 18vh;
}
.nav-bar{
    display: flex;
    align-content: center;
    justify-content: center;
}
.nav-bar, a{
    display: block;
}
.nav-wrapper a{
    text-decoration: none;
    text-transform: capitalize;
    color:var(--primary);
    font-family: Arial;
    font-size: 17px;
    font-weight: 400;
    margin: 13px 8px;
    padding: 8px 13px;
    justify-content: center;
}
.nav-wrapper a:hover{
    box-sizing: border-box;
    align-content: center;
    background-color: rgba(94, 228, 21, 0.945);
    color: var(--secondary);
    border-radius:5px;
    font-family:  Arial;
    transition: 0.5s;
}
.brand{
    padding-top: 15vh;
    font-size: 75px;
    margin-bottom: 5vh;
    text-align: center;
}
h4, h3, h2{
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact{
    margin-top: -100vh;
    position: absolute;
    margin-left: 60vh;
    height: 8vh;
    width: 20vh;
}
.contact ul{
    display: flex;
    padding-top: 2.5vh;
    justify-content: space-between;
    padding-left: 5vh;
    padding-right: 5vh;
}
.contact ul li{
    list-style: none;
}
.contact ul a{
    color:var(--primary);
    margin: 1.5vh 1.5vh;
    padding: 1.5vh 1.5vh;
}
.contact ul a:hover{
    box-sizing: border-box;
    align-content: center;
    background-color: rgba(94, 228, 21, 0.945);
    color: var(--secondary);
    border-radius:5px;
    transition: 0.5s;
    
}
body{
    background: var(--secondary);
}
.menu-sidebar{
    display: none;
}
.nav-bar .toggle{
    position: relative;
    top: 0;
    left: 0;
    width: 30px;
    height: 20px;
    background: #444;
    border-radius: 15px;
    transition: .3s;
    margin-left: 20px;
}
.nav-bar .toggle .toggle-button{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: rgb(253, 252, 252);
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    
}
.nav-bar .toggle.active{
    background: cornflowerblue;
}
.nav-bar .toggle.active .toggle-button{
    left: 15px;
}
.brand{
    background-image: url("./Grey___Green_Elegant_Minimal_Good_Taste_Food_Restaurant_Logo-removebg-preview.png");
    height: 5vh;
    width: 20vh;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -30vh;
    position: absolute;
    margin-left: 25vh;
}
.slider{
    width: 300px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.slide img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}
.temp{
    margin-top: 25vh;
    margin-left: 30vh;
}
.manual-nav{
    position: absolute;
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 230px;
}
.manual-btn{
    border: 1px solid rgba(94, 228, 21, 0.945);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 5px;
}
.manual-btn:hover{
    background: rgba(94, 228, 21, 0.945);
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
#radio6:checked ~ .first{
    margin-left: -100%;
}

.auto-nav{
    position: absolute;
    width: 300px;
    display: flex;
    justify-content: center;
    margin-top: 230px;
}
.auto-nav div{
    border: 1px solid rgba(94, 228, 21, 0.945);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.auto-nav div:not(:last-child){
    margin-right: 5px;
}
#radio1:checked ~ .auto-nav .auto-btn1{
    background: rgba(94, 228, 21, 0.945);
}
#radio2:checked ~ .auto-nav .auto-btn2{
    background: rgba(94, 228, 21, 0.945);
}
#radio3:checked ~ .auto-nav .auto-btn3{
    background: rgba(94, 228, 21, 0.945);
}
#radio4:checked ~ .auto-nav .auto-btn4{
    background: rgba(94, 228, 21, 0.945);
}
#radio5:checked ~ .auto-nav .auto-btn5{
    background: rgba(94, 228, 21, 0.945);
}
#radio6:checked ~ .auto-nav .auto-btn6{
    background: rgba(94, 228, 21, 0.945);
}
